# Environment
.env
.env.local
.env.development
.env.production
.env.test

# Dependencies
node_modules/

# React build
frontend/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads
backend/uploads/
backend/public/uploads/

# OS
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# IDE
.idea/

# Temporary
*.tmp
*.temp